<div flex-offset="10" flex="80" class="homepage">
  <p class="md-body-1 home-button">⚛</p>
  <div class="homepage-container">
    <h1 class="md-display-3 portfolio-h3">Hi, I'm Curtiss!</h1>
    <p class="md-body-1 portfolio-b1"> Welcome to my website. Be sure to check out my blog. </p>
  </div>
  <hr>
  <div class="homepage-container">
    <div class="homepage-item-container">
      <h2 class="md-body-2 portfolio-b2">Other places about me:</h2>
      <md-button href="https://twitter.com/c3luong">twitter</md-button>
      <md-button href="https://ca.linkedin.com/in/curtiss-luong-3a6a9056">linkedIn</md-button>
      <md-button href="https://www.facebook.com/c3luong">facebook</md-button>
    </div>
    <!--<div class="homepage-item-container">
      <h2 class="md-body-2 portfolio-b2">Things I make for fun:</h2>
      <md-button href="">my blog</md-button>
      </div>-->
  </div> <!-- homepage-container -->
  <hr>
  <div class="homepage-container">
    <div class="homepage-item-container">
      <h2 class="md-body-2 portfolio-b2">About me:</h2>
      <p class="md-body-1 portfolio-b1">
        Nationality: Canadian <br>
        Hometown: Moncton, New Brunswick <br>
        Email: firstname.lastname@gmail.com
      </p>
    </div>
  </div> <!-- homepage-container -->
</div> <!-- homepage -->
